{% extends "admin_base.njk"%}

{% block titulo %}Administració | ERROR{% endblock %}

{% block contenido%}
<h1 class="centrar">Error</h1>
<p class="centrar">{{ error | default("Error en l'aplicació")}}</p>
{% endblock %}